<div class="bg-zinc-700 h-16 flex justify-end items-center p-2">
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		*ngIf="!isAuthenticated"
		routerLink="/register"
		routerLinkActive="active"
	>
		Register
	</button>
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		*ngIf="!isAuthenticated"
		routerLink="/login"
		routerLinkActive="active"
	>
		Login
	</button>
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		*ngIf="isAuthenticated"
		routerLink="/login"
		routerLinkActive="active"
		(click)="logout()"
	>
		Logout
	</button>
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		*ngIf="isManager"
		routerLink="/tenantlist"
		routerLinkActive="active"
	>
		Tenants
	</button>
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		*ngIf="isManager"
		routerLink="/employeelist"
		routerLinkActive="active"
	>
		Maintenance Staff
	</button>
  <button
  class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
  *ngIf="isManager"
  routerLink="/adminmanager"
  routerLinkActive="active"
>
  Tickets
</button>
</div>
