<form [formGroup]="tenantIssueForm" (ngSubmit)="onSubmit()">
	<legend>Tenant Issues:</legend>

	<!-- <div>Current Tenant {{  }}</div> -->
	<div class="flex flex-col gap-1">
		<label class="text-sm font-semibold">Tell us what is wrong</label>
		<textarea name="Issues" id="Issues" cols="30" rows="10" required="true"></textarea>
		<p>*Please enter your Issue here</p>
	</div>
	<!-- types of Issuses -->
	<div class="flex flex-col gap-1">
		<label for="issuseType" class="text-sm font-semibold"
			>What kind of Issue are you having?</label
		>
		<div *ngFor="let choice of specializations; let i = index">
			<label for="">
				<input type="checkbox" [value]="choice.value" (change)="onCheckChange($event)" />{{
					choice.description
				}}
			</label>
		</div>
	</div>
	<!-- priority lvl of job -->
	<!-- Dropdown menu -->
	<div>
		<label class="form-label">
			Urgency
			<select name="prioritySelect" formControlName="priorityLevel">
				<option value="HIGH">High</option>
				<option value="MEDIUM">Medium</option>
				<option value="LOW">Low</option>
			</select></label
		>
	</div>
	<!-- Submit Form -->
	<button type="submit" class="rounded border-2 border-blue-500 bg-zinc-200 hover:bg-zinc-100">
		SUBMIT
	</button>
</form>
