<form [formGroup]="tenantIssueForm" (ngSubmit)="onSubmit()">
	<legend class="flex justify-center font-semibold">Tenant Issues:</legend>

	<!-- <div>Current Tenant {{  }}</div> -->
	<div class="flex flex-col gap-1">
		<label class="flex justify-center font-semibold">Tell us what is wrong</label>
		<textarea
			name="Issues"
			id="Issues"
			cols="30"
			rows="10"
			required="true"
			formControlName="description"
		></textarea>
		<p class="flex justify-center font-semibold">*Please enter your Issue here</p>
	</div>
	<!-- types of Issuses -->
	<div class="flex flex-col gap-1">
		<label class="form-label font-semibold">
			Category:
			<select name="typeSelect" formControlName="work">
				<option value="Plumbing">Plumbing</option>
				<option value="Electrical">Electrical</option>
				<option value="Structural">Structural</option>
				<option value="HVAC">HVAC</option>
				<option value="General">General</option>
				<option value="Pest">Pest</option>
				<option value="Other">Other</option>
			</select></label
		>
	</div>
	<!-- priority lvl of job -->
	<!-- Dropdown menu -->
	<div class="flex flex-col gap-1">
		<label class="form-label font-semibold">
			Urgency:
			<select name="prioritySelect" formControlName="priorityLevel">
				<option value="HIGH">High</option>
				<option value="MEDIUM">Medium</option>
				<option value="LOW">Low</option>
			</select></label
		>
	</div>
	<!-- Submit Form -->
	<button type="submit" class="rounded border-2 border-blue-500 bg-zinc-200 hover:bg-zinc-100">
		SUBMIT
	</button>
</form>
